.THIS .CartCanvas{
    border-radius: .4em;
    border-color: #fff;
    border-width: 2px;
    border: solid;
}
.THIS .cartStyle {
    font-family: Montserrat, sans-serif;

    color: #fff;
    background: #34495E;
    min-width: 30%;
    padding: .5em;
    margin-bottom: 3px;
    border-radius: .4em;
    position: relative;
    
}
.THIS .button {
    text-align: center;
    vertical-align: center;
    height: 75px;
    width: 60px;

}
.THIS .deleteButton {

    text-align: center;
    vertical-align: center;
    height: 75px;
    width: 60px;
}